.card {
    background: var(--article-background-color);
    border: solid 1px #888;
    border-radius: 6px;
    box-shadow: 1px 2px 3px 2px #0000001a;
    /* box-shadow: inset 0px 0px 10px #beb493; */
    color: var(--article-background-color);
    display: flex;
    flex-direction: column;
    margin: 0 16px 0 0;
    width: 140px;
}
.card.attack {
    background: var(--attack-background-color);
}
.card.buff {
    background: var(--buff-background-color);
}
.card.other {
    background: var(--article-background-color);
}
.card h1 {
    /* background: linear-gradient(to right, #4068c1, #4f75ca, #4068c1); */
    background: var(--article-background-color-darker);
    border-bottom: solid 1px #888;
    color: var(--text-color-ondark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5em;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
}
.card section {
    padding: 0.2rem 1rem;
}
.requirements {
    background: var(--article-background-color-darkest);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.requirements div {
	border: 2px solid #afbcf463;
    border-radius: 8px;
	color: #fff9;
	font-weight: 800;
	padding: 0.15rem 0.5rem;
	margin: 5px;
    text-align: center;
    width: 2em;
}
.card:hover .requirements .warn {
    animation: throb 0.8s ease-in-out 0s infinite alternate none;
}
.req-funds,
.req-funding { background: var(--color-funding); }
.req-staff { background: var(--color-staff); }
.req-volunteers { background: var(--color-volunteers); }
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 13px;
    padding: 0;
}
.content-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}
.icon {
    height: 100%;
    cursor: pointer;
}
.description {
    font-style: italic;
    background: var(--article-background-color);
	padding: 0.6em 0.6em .8em;
	margin: 0;
    color: var(--text-color-default);
}
.effects {
	text-align: left;
    padding: 0;
	list-style: none;
	color: var(--text-color-default);
}
.effects li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.effects .term {
    flex: 1;
}
.effects .value {
    font-weight: bold;
}