ul.resources-list {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	list-style: none;
	padding: 0;
}

li.resource-item {
    align-items: center;
	background: honeydew;
	border: 2px solid #979797b8;
    display: flex;
    flex-basis: 3rem;
	flex-direction: column;
	padding: 5px;
	margin: .1em;
	border-radius: .5em;
}
li.resource-item.warn       
/* { animation: name duration timing-function delay iteration-count direction fill-mode; } */
{ animation: throb 0.8s ease-in-out .4s infinite alternate none; }
li.resource-item.funding    { background: var(--color-funding) }
li.resource-item.staff      { background: var(--color-staff) }
li.resource-item.volunteers { background: var(--color-volunteers) }

.resource-item dt {
    font-size: 0.75rem;
}
.resource-item dd {
    font-size: 2rem;
	font-weight: bold;
	margin: 0;
}

@keyframes throb {
	to {
		background: #f448;
		border-color: var(--color-warn);
	}
}