body {
  background-color: #babfc8;
  color: #101717;
}

/* style applied to card or hand when dragging over */
.targeted {
  background-color: #8995ac;
}

.App-header {
  background-color: #777177;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

:root {
	--color-funding: #69d9c394;
	--color-staff: #d9d47cb3;
  --color-volunteers: #bfa1dfb3;
  --color-warn: #f44;
}