.candidate {
    margin-left: 8px;
    width: 200px;
}
.candidate.active h2 {
    text-shadow: 4px 1px 2px #ffa;
}
.candidate h2 {
    border-bottom: 2px solid white;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 12px;
    position: relative;
    text-align: left;
}
.candidate h2:before {
    color: white;
    content: "candidate";
    font-size: 11px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    width: 100%;
}
.candidate thead {
    font-style: italic;
}
.candidate td:first-child {
    text-align: left;
}