.candidate {
    margin-left: 8px;
    width: 200px;
}
.candidate h2 {
    border-bottom: 2px solid white;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.candidate thead {
    font-style: italic;
}
.candidate td:first-child {
    text-align: left;
}