.hand {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    background:#aeb6c6;
    border: solid 1px #d0c9db;
    border-radius: 6px;
    margin: 10px 10px;
    padding: 16px;
}